@model Application.Models.DepartmentAverageSalaryStatsDto


<input type="button" value="Export" onclick="location.href='@Url.Action("Export", "Home",new { fileName = "HighestSalaryDepartment"})'" />


<table class="table">
    <thead>
        <tr>
            <th>
                Department
            </th>
            <th>
                Average Salary
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.AverageSalary)
            </td>
        </tr>
    </tbody>
</table>
